@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form id="createCustomerForm">
    <table align="center">
        <tr align="center">
            <td>
                FirstName
            </td>
            <td> <input type="text" id="FirstName" placeholder="FirstName" /></td>
        </tr>

        <tr align="center">
            <td>
                LastName
            </td>
            <td>
                <input type="text" id="LastName" placeholder="LastName" />
            </td>
        </tr>

        <tr align="center">
            <td>
                Address
            </td>
            <td>
                <input type="text" id="Address" placeholder="Address" />
            </td>
        </tr>
        <tr align="center">
            <td>
                Email
            </td>
            <td>
                <input type="text" id="Email" placeholder="Email" />

            </td>
        </tr>
        <tr align="center">
            <td>

                VatNumber
            </td>
            <td>
                <input type="text" id="VatNumber" placeholder="VatNumber" />
            </td>
        </tr>


        <tr align="center">
            <td>

                Upload photo
            </td>
            <td>
                <input type="file" id="Picture" name="Picture" />
            </td>
        </tr>



        <tr align="center">
            <td>
                <input type="button" value="Submit data" onclick="addCustomer()" />
            </td>
        </tr>
    </table>
    <div id="result" name="result"></div>
</form>





 